.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepage-infosection {
  padding: 20px 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  margin-top: auto;
  * {
    font-size: 0.8rem !important;
  }
}
