html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

* {
  font-size: 1.3rem;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}
.MuiPopper-root.MuiDataGrid-menu {
  z-index: 999999 !important;
}
@import './authpages';
@import './homepage';
@import '~react-big-calendar/lib/sass/styles';
@import '~bootstrap/scss/bootstrap';
